.article{
  position: relative;
  //border: 1px solid saddlebrown;
}

.eyecatch {
  &:hover {
    cursor: pointer;
  }
}

.premiumLabel {
  z-index:100;
  position: relative;
  float: right;
}

.author{
  margin: auto 8px;

}

.image-box {
  min-width: 660px;
  @media only screen and (max-width: 560px) { 
    min-width: 420px;
  } 
  @media only screen and (max-width: 420px) { 
    min-width: 300px;
  } 

}