.page {
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}

.search {
  padding-top: 120px;
  display: flex;
  margin: 0 6rem;

  & button {
    margin: 0 2rem;
    width: 8rem;
    color: inherit;
    background-color: white;
  }

  @media only screen and (max-width: 560px) { 
    margin: 0 2rem;
  } 

}

.search-detail {
  padding-top: 20px;
  margin: 0 6rem;
  padding-bottom: 260px;
  display: flex;
  flex-direction: column;
  & .d1{
    display: flex;
    flex-direction: row;
    .left {
      flex-basis: auto;
      flex-grow: 1;
      padding-right: 1.25rem;
    
    }
    .right {
      flex-basis: 160px; 
    }    

    @media only screen and (max-width: 560px) { 
      .right {
        flex-basis: 120px;
      }    
    }


  }

  & .d1header {
    margin: 0;
    padding: 0;
  }
  & .articleheader {
    padding: 1rem 0;
  }
  
  @media only screen and (max-width: 560px) { 
    margin: 0 2em;
  } 

}




.grid {
  padding: 0 21em;
  // margin: 0 4rem;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));

  @media only screen and (max-width: 1800px) { 
    padding: 0 6em;
  } 
  @media only screen and (max-width: 1400px) { 
    padding: 0 3em;
  } 
  @media only screen and (max-width: 1200px) { 
    padding: 0.2em;
    // margin: 0.25rem;
  } 

  @media only screen and (max-width: 560px) { 
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    padding: 0.1em;
    // margin: 0.1rem;
  } 

}


.spinner {
  z-index:500;
  position: fixed;
	top: 45%;
	left: 50%;
}