.button {
    color: #20b2aa;
  }
  
  .button:hover {
    color: #2e8b57;
  }

.title-input {
  border-width: 0 0 1px 0;

  // border: none;
  // outline: none;
  // padding-bottom: 8px;
  // box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  // ここのアイデア
  // https://qiita.com/KengoShimizu/items/22c14b282fa9f53f4bd8
  outline: none;
  outline-offset: 0px;
  &:focus{
    outline: none;
  }
}